body{
    margin: auto;
}
.layer5container,
.layer4container,
.layer3container,
.layer2container,
.layer1container{
    padding: 20px 25%;
}
.layer1container{
    background: #1f2937; ;
    min-height: 400px;
    max-height: fit-content;
}
.layer1container .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    flex: 1 1 auto;
}
.header .logo{
    color: white;
    height: 1em;
    font-size: 24px;
}
.header .link-container{
    margin-left: auto;
    padding-top: 6px;
    width: auto;
    display: flex;
    gap: 1em;
}
.link-container a{
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    margin-top: auto;
}
.layer1container .content{
    margin-top: 100px;
    display: flex;
    gap: 50px;
}
.content div{
    flex: 1;
}
.title h1{
    margin: 0px ;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.title p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #e5e7eb;
}
.title button{
    background-color: #3882f6;
    border-radius: 5px;
    border-style: hidden;
    height: 2em;
    color: #f9faf8;
    width: 80px;
    margin-top: 10px;
}
.content .image{
    color: white;
    background-color: rgb(113, 127, 145);
    text-align: center;
    padding-top: 100px;
    flex: 1;
}
.layer2container{
    max-height: fit-content;
    min-height: 350px;
}
.layer2container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.layer2container .content{
    display: flex;
    gap: 50px;
    width: auto;
    height: auto;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 100px;
}
.layer2container .content div{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.layer2container .content div div{
    border: 2px solid #3882f6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-right: 0px;
    flex: 1 1 auto;
}
.layer2container .content div p{
    text-align: center;
    width: 150px;
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 18px;
}
.layer3container{
    background-color: #e5e7eb;
    min-height: fit-content;
}
.layer3container .quote{
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-top: 150px;
    margin-bottom: 0px;
}
.layer3container .quote-credit{
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 100px;
}
.layer4container{

}
.layer4container .content{
    background-color: #3882f6;
    height: 125px;
    border-radius: 8px;
    margin: 60px auto;
    display: flex;
}
.layer4container .content div{
    margin: auto 100px;
    width: fit-content;
    height: fit-content;
    flex: 1 1 auto;
}
.layer4container .content div p{
    width: fit-content;
    color: white;
    margin: auto;
    margin-left: 0px;
    font-size: 14px;
}
.layer4container .content div p.layer4title{
    font-weight: bold;
    font-size: 18px;
}
.layer4container .content button{
    width: 10px;
    height: 2em;
    flex: 1 1 auto;
    margin: auto;
    margin-right: 100px;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
}
.layer5container{
    background: #1f2937; ;
    height: fit-content;
}
.layer5container p{
    color: white;
    text-align: center;
}